/* font-family: "FedraSansPro-Bold"; */
@font-face {
	font-family: FedraSansPro-Bold;
	src: url("../fonts/FedraSansPro-Bold/FedraSansPro-Bold.otf");
	src: url("../fonts/FedraSansPro-Bold/FedraSansPro-Bold.otf?#iefix")format("otf");
	font-style: normal;
	font-weight: normal;
}
