*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	/*font-family: "FedraSansPro-Bold", sans-serif;*/
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
.container{
    min-width: 90%;
}
/*HEADER*/
.header-topline{
    background-color: #dff0d8;
    padding: 15px 0;
    min-height: 56px;
    
}
.header-topline a{
    color: forestgreen;
}
.logo{
    float: left;
    font-size: 30px;
}
.top-nav_items ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*.logo-animated{
     float: left;
     margin-left: 110px;
}*/

.top-nav_items ul li{
    display: inline-block;
}
.top-nav_items a{
    padding: 20px 20px;
    color: #068456;
}
.top-nav_items a:hover{
    text-decoration: underline;
    color: #3e99b7;
    background-color: rgba(255, 255, 255, .5);
    padding: 20px 20px;
    transition: all .25s;
  }

/*hamburger*/
.top-nav_button{
    background-color: transparent;
    border: medium none;
    font-size: 25px;
    color: forestgreen;
    /*float: right;*/
    margin-left: 20px;
    float: left;
}
/*TITLE*/
.main-title{
    /*background-color: #fcf8e3;*/
    background-color: #fff;
    min-height: 180px;
}
.short-title{
    text-align: center;
    display: block;
    /*font-family: "FedraSansPro-Bold";*/
    font-family: "RobotoRegular", sans-serif;
    /*color: green;*/
    color: #14714f;
    font-weight: bold;
    font-size: 35px  
}
.main-title_name{
    text-align: center;
    display: block;
    /*font-family: "FedraSansPro-Bold";*/
    font-family: "RobotoRegular", sans-serif;
    color: #14714f;
    /*color: green;*/
    font-weight: bold;
    font-size: 35px;

    /*padding-top: 20px;*/
    margin-top: 20px;
    margin-bottom: 0;

}
.main-title_subtitle{
    text-align: center;
    display: block;
    /*font-family: "FedraSansPro-Bold";*/
    font-family: "RobotoRegular", sans-serif;
    color: #14714f;
    /*color: green;*/
    font-weight: bold;
    font-size: 25px;
    margin-top: 5px;
}
/*LOGO ANIMATED*/
.logo-animated{
    margin-top: 20px;
    /*float: left;*/
    display: inline-block;
}

.main-title-text{
    /*float: right;*/
    display: inline-block;
    margin-left: 30px;
    margin-top: 0;
    height: 140px;
    font-size: 140px;
}

/*.main-logo-block{
    max-width: 900px;
}*/

/*PROMO*/

.promo-container{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.promo-block{
    /*background-image: url(../img/PromoBGR.png);*/
    /*background-image: url(../img/bannerTop.png);*/
    /*padding-top: 40px;*/
    background-image: url(../img/bannerTopDark.png);
    min-height: 470px;
    /*min-width: 1270px;*/
    max-width: 1270px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    /*z-index: 1;*/

    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.promo-text-block{
    /*margin-left: -30px;*/
}

/*.promo-overlay{
    background-color: #000;
    opacity: 0.2;
    min-height: 470px;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.promo-container{
    z-index: 3;
}*/

.promo-title_text{
    /*text-shadow: 1px 0px 0px black, 0 0 1em;*/
    text-shadow: 0px 0px 0px rgba(0,0,0, 0.19), 0 0 1em;
    color: #fff;
    display: block;    
}
/*INTERMEDIATE-1*/
.intermediate-block__one{
    background-color: darkslategray;
    height: 80px;
    width: 100%;
}

.intermediate-block{
    background-color: darkslategray;
    width: 100%;
}

.intermediate-slogan{
    margin: 30px auto;
    padding: 10px auto;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}

/*BUTTON*/
.take-part{
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  /* border: 4px solid #fff;*/
  border: 0;
  border-radius: 30px;
  padding: 10px 50px;
  background-color: forestgreen;
  float: none;
  display: block;
  margin: 30px auto;
}
.take-part:hover{
  /*border: 4px solid #7ce6df;*/
  border: 0;
  background-color: darkseagreen;
    
}

.take-part:active{
  /*border: 3px solid #7ce6df;*/
  border: 0;
  background-color: #c7d1d8;
    
}

/*FORM*/
.sign-in{
  margin: 0;
  padding: 0;
  width: 50%;
}
.sign-in_item{
  width: 300px;
  display: block;
  float: left;
  margin-bottom: 5px;
  border-radius: 5px;
  border: none;
}

.shadow-block{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.sign-in-form{
    margin-top: 30px;
    width: 300px;
}

.submit-button{
    width: 100%;
    height: 40px;
    line-height: 26px;

    text-align: center;
    color: #fff;
    /*text-transform: uppercase;*/
    font-weight: bold;
    border: 0;
    /*border: 1px solid #fff;*/
    /*border: 4px solid #fff;*/
    border-radius: 2px;
    /*padding: 10px 50px;*/
    background-color: #e92f34;
    float: none;
    display: block;
    margin: 15px auto;
}

.submit-button:hover{
    /*border: 4px solid #7ce6df;*/
    background-color: #c0171c;

}

.submit-button:active{
    /*border: 3px solid #7ce6df;*/
    background-color: #c7d1d8;

}

/*MODAL*/
#formModal .modal-dialog {
    width:330px;
}
/**/

/*ABOUT*/
.about{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fcf8e3;
  min-height: 250px;
}
.about-img{
  text-align: center;
}
.about-title{
  margin-top: 15px;
  margin-bottom: 35px;
  text-align: center;
}
.about-title_subtitle{
  text-align: center;
}
.about-text{
  text-align: center;
}

/*ADVANTAGES*/
.advantages{
  /*background-color: #dff0d8;*/
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #fcf8e3;
  min-height: 300px;
}
.advantages-title{
  text-align: center;
  margin-bottom: 45px;
  margin-top: 15px;
}
.advantages-image{
  text-align: center;
  margin-bottom: 20px;
}
.advantages-text{
  text-align: center;
}
/*PROCESS-REGISTRATION*/
.process-registration{
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  min-height: 300px; 
  background-color: #fff;
}
.registration-title{
  margin-top: 15px;
  margin-bottom: 35px;
  text-align: center;
}
.registration-subtitle{
  text-align: center;  
}
.registration-subtitle_list li{
list-style-type: none;   
}

.link-green{
    color: #068456;
}

.link-green:hover{
    color: #3e99b7;
}

/*INTERMEDIATE-3*/
.intermediate-block__three{
    /*background-image: url(../img/view-from-above.png);*/
    background-image: url(../img/view-from-above-dark.png);
    height: 130px;
    width: 100%;
}
/*CHRONOLOGY*/
.fotorama{
    width: 100%;
    height: 400px;
}

.chronology{
    /*background: #222;*/
    background: #fff;
    color: #fff;
    font-size: 14px;
}

/*TIMELINE*/


/*TEAM-LEADER*/

.team-leader{
    padding-top: 40px;
    padding-bottom: 40px;
}


/*FOOTER*/
.soc-buttons{
    float: right;
    font-size: 24px;
    color: #fff;
    margin: 2px;   
}

.col-centered{
    float: none;
    /*margin: 0 auto;*/
}