/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
   .top-nav_items ul{
        display: none;
        background-color: #89cee5;
        position: absolute;
        width: 100%;
        padding: 10px 10px;
    }
   .top-nav_items ul li{
        display: block;
        padding: 10px 10px;
       
    }
    .top-nav_items a{
        color: #fff;   
    }
   .top-nav_items a:hover{
       text-decoration: none;
       color: #3e99b7;  
    }
   .top-nav_items{
        margin-left: 0;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .top-nav_items ul{
        display: block !important;
    }
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}